body {
  margin: 0;
}
header {
  background-color: green;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header nav ul li {
  list-style: none;
  cursor: pointer;
  margin-left: 10px;
}
header nav ul {
  display: flex;
  padding: 0%;
}

aside {
  width: 20%;
  height: 100vh;
  background-color: red;
  float: left;
  position: absolute;
  font-size: 0.5em;
}
aside ul li {
  list-style: none;
}
article section {
  display: flex;
  justify-content: space-around;
}

#sec1 img {
  width: 25%;
  margin-bottom: 2px;
  cursor: pointer;
}
#sec2 img {
  width: 25%;

  margin-bottom: 2px;
  cursor: pointer;
}
#sec3 img {
  width: 25%;

  margin-bottom: 2px;
  cursor: pointer;
}
#sec4 img {
  width: 25%;

  margin-bottom: 2px;
  cursor: pointer;
}
#sec5 img {
  width: 25%;

  cursor: pointer;
}
article img:hover {
  opacity: 0.6;
}
@keyframes slideRight {
  0% {
    transform: translateX(5%);
    background-color: antiquewhite;
  }

  33% {
    transform: translateX(30%);
    background-color: aqua;
  }
  66% {
    transform: translateX(40%);
    background-color: aquamarine;
  }
  100% {
    transform: translateX(80%);
    background-color: azure;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(40%);
    background-color: antiquewhite;
  }

  33% {
    transform: translateX(20%);
    background-color: aqua;
  }
  66% {
    transform: translateX(10%);
    background-color: aquamarine;
  }
  100% {
    transform: translateX(-5%);
    background-color: azure;
  }
}

@keyframes rotate_180 {
  50% {
    transform: rotate(90deg);
  }

  100% {
    transform: rotate(180deg);
  }
}
@keyframes rotate_0 {
  33% {
    transform: rotate(0deg);
  }

  66% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
